.vscode/**
client/src/**
server/src/**
debugger/src/**
cache/**
cba/**
ace3/**
scripts/**
definitions/**.xml
sqflint/**

**/*.map
.gitignore
tsconfig.json
client/tsconfig.json
server/tsconfig.json
debugger/tscofig.json
vscode-sqflint.code-workspace
server/*.xml
cache/**
